
body{
	
	font-size: 16px;
	height: auto;
	background-image: url(http://localhost/foodvn/public/image/bg.png);
}
#login{
	margin-left: 550px;
}
#btnlogin
{
	background: #BBA3FF;
	border: double;
}

#btnadd
{
	background: #BBA3FF;
	border: double;
}

#upload_file
{
	margin-left: 50px;
	float: left;
}
#list_uploaded{
	margin-left: 100px;
	font-size: 14px;
	font-family: "Comic Sans MS";
	color: #660F66;
	width: 400px;;
	height: 150px;
	border: dotted;
	overflow: auto;
	}
#list_uploaded a{
	color: #660F66;
}

#upload_res{
	
	margin-right: 100px;
	margin-top: 50px;
	float: left;
	width: 100px;
}
#look_res{
	float: left;
	margin-top: 100px;
	margin-left: 0px;
}

#result_search{
	font-size: 14px;
	float: left;
	margin-left: 20px;
	margin-top: 100px;
	color: #660F66;
	height: 100px;
	width: 250px;
	overflow: auto;
}
