
body{
	font-family: "Arial Black";
	font-size: 16px;
	height: auto;
	background: url(http://localhost/foodvn/public/image/bg_admin.jpg) no-repeat center ;
}
#login{
	margin-left: 550px;
}
#btnlogin
{
	background: #BBA3FF;
	border: double;
}

#btnadd
{
	background: #BBA3FF;
	border: double;
}

#upload_file
{
	margin-left: 550px;
}
