body {
	background: #6a3e4f;
	color: #78394e;
	font-family: Arial;
	font-size: 12px;
	margin: 0;
	min-width: 960px;
	padding: 0;
	width: 100%;
}
a{
	outline: none;
}
img{
	border: 0;
}
p a{
	color: #df4b9f;
}
#header{
	background: #f5f5f5 url(http://localhost/foodvn/public/image/bg-body.gif) repeat-x center top;
}
#header div{
	margin: 0 auto;
	width: 960px;
}
#header div div{
	height: 110px;
	overflow: hidden;
	position: relative;
}
#header div div #logo{
	float: left;
	width: 331px;
}
#header div div div{
	float: right;
	height: 110px;
	width: auto;
}
#header div div div div{
	display: block;
	float: none;
	height: auto;
	padding-bottom: 40px;
	padding-left: 134px;
	margin-top: 20px;
	overflow: hidden;
	width: auto;
}
#header div div div div a{
	border-right: 1px solid #6c404f;
	color: #6c404f;
	display: block;
	float: left;
	font-weight: bold;
	line-height: 13px;
	padding: 0 5px;
	text-decoration: none;
}
#header div div div div a.last {
	border: 0;
	padding-right: 0;
}
#header div div div form {
	position: absolute;
	right: 0;
	top: 70px;
	height: 30px;
	width: 290px;
}
#header div div div form input{
	float: left;
	line-height: 30px;
}
#header div div div form input#search{
	background: url(http://localhost/foodvn/public/image/input-search.gif) no-repeat 0 0;
	border: 0;
	height: 30px;
	padding: 0 5px;
	width: 220px;
}
#header div div div form input#searchbtn{
	background: url(http://localhost/foodvn/public/image/sprite-buttons.gif) no-repeat 0 -291px;
	border: none;
	height: 30px;
	width: 60px;
}
#header div ul{
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#header div ul li{
	float: left;
	height: 50px;
	line-height: 50px;
	width: 160px;
}
#header div ul li a{
	background: url(http://localhost/foodvn/public/image/sprite-buttons.gif) no-repeat 0 -205px;
	color: #5b5c5e;
	display: block;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0 #e8edf1;
	text-transform: capitalize;
}
#header div ul li a:hover, #header ul li.current a{
	color: #b13c68;
	text-shadow: 1px 1px 0 #ebb8c7;
}
#header div ul li.current a {
	background: url(http://localhost/foodvn/public/image/sprite-buttons.gif) no-repeat 0 -97px;
}
#header div div#section, #header div div.section {
	background: #aa6581;
	height: 360px;	
	padding: 10px;
	width: 940px;
}
#header div div.section {
	height: 190px;
}

#header div div#section ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
#header div div#section ul li {
	background: none;
	float: none;
    height: 38px;
    line-height: 34px;
	padding: 1px 0 1px;
    width: 230px;
}
#header div div#section ul li a {
	background: url(http://localhost/foodvn/public/image/sprite-buttons.gif) no-repeat 0 -157px;
	color: #f5ffff;
	display: block;
	height: 38px;
	line-height: 34px;
	font-size: 12px;
    font-weight: bold;
	padding: 1px 0 1px;
	text-align: center;
	text-shadow: 1px 1px 0 #ad657d, -1px -1px 0 #ad657d, -1px 1px 0 #ad657d, 1px -1px 0 #ad657d;
	text-transform: lowercase;
}
#header div div#section ul li a:hover, #header div div#section ul li.selected a {
	color: #7c0d37;
	text-shadow: 1px 1px 0 #f7cade, -1px -1px 0 #f7cade, -1px 1px 0 #f7cade, 1px -1px 0 #f7cade;
}
#header div div#section ul li.selected a {
	background: url(http://localhost/foodvn/public/image/sprite-buttons.gif) no-repeat 0 0;
}
#header div div#section img {
	float: right;
}
#content {
	background: #f5f5f5;
	height: auto;
	width: 100%;
}

#content div.home {
	margin: 0 auto;
	overflow: hidden;
	padding: 30px 0;
	width: 960px;
}
#footer {
	background: #703f54;
	width: 100%;
}
#footer div.home{
	background: url(http://localhost/foodvn/public/image/bg-footer.gif) repeat-x top left;
	height: 336px;
	padding: 0;
	width: auto;
}
#footer div.home div{
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	width: 960px;
}
#footer div.home div div.connect{
	margin-top: 10px;
	width: auto;
}
#footer div.home div div.connect span{
	color: #84284D;
	display: block;
	font-size: 18px;
	margin: 0 0 5px;
}
#footer div.home div div.connect ul{
	list-style: none;
	margin: 0 0 0 20px;
	padding: 0;
	width: 500px;
}
#footer div.home div div.connect ul li{
	float: left;
	padding: 5px 0;
	width: 200px;
}
#footer div.home div div.connect ul li a{
	color: #84284D;
	display: block;
	height: 22px;
	line-height: 18px;
	text-decoration: none;
	text-indent: 30px;
}
#footer div.home div div.connect ul li a.facebook{
	background: url(http://localhost/foodvn/public/image/sprite-icons.gif) no-repeat 0 -30px;
}
#footer div.home div div.connect ul li a.twitter{
	background: url(http://localhost/foodvn/public/image/sprite-icons.gif) no-repeat 0 -335px;
}
#form_dk
{
	float: inherit;
	margin-left: 200px;
	font-size: 16px;
	line-height: 20px;
	
}
#form_dk span{
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
}
#form_dk h4{
	
}
