body {
	background-image: url(http://localhost/foodvn/public/image/bg.png);
	background-repeat: repeat-y;
	color: #D75726;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	margin: 0;
	min-width: 960px;
	padding: 0;
	width: 100%;
	
}
a{
	outline: none;
}
img{
	border: 0;
}
p a{
	color: #df4b9f;
}

#header div{
	margin: 0 auto;
	width: 960px;
}
#header div div{
	height: 110px;
	overflow: hidden;
	position: relative;
}
#header div div #logo{
	float: left;
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#header div div div{
	float: right;
	height: 110px;
	width: auto;
	margin-top: 50px;
}
#header div div div div{
	display: block;
	float: none;
	height: auto;
	padding-bottom: 40px;
	padding-left: 134px;
	margin-top: 20px;
	overflow: hidden;
	width: auto;
}
#header div div div div a{
	border-right: 1px solid #6c404f;
	color: #6c404f;
	display: block;
	float: left;
	font-weight: bold;
	line-height: 13px;
	padding: 0 5px;
	text-decoration: none;
}
#header div div div div a.last {
	border: 0;
	padding-right: 0;
}
#header div div div form {
	position: absolute;
	right: 0;
	top: 70px;
	height: 30px;
	width: 290px;
}
#header div div div form input{
	float: left;
	line-height: 30px;
}
#header div div div form input#search{
	background: url(http://localhost/foodvn/public/image/input-search.gif) no-repeat 0 0;
	border: 0;
	height: 30px;
	padding: 0 5px;
	width: 220px;
}
#header div div div form input#searchbtn{
	background: url(http://localhost/foodvn/public/image/sprite-buttons.gif) no-repeat 0 -291px;
	border: none;
	height: 30px;
	width: 60px;
}
#header div ul{
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
#header div ul li{
	float: left;
	height: 50px;
	line-height: 50px;
	width: 190px;
}
#header div ul li a{
	display: block;
	font-family: "Comic Sans MS";
	color: #9B5577;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#header div ul li a:hover, #header ul li.current a{
	color: #D75726;
	
}

#content {
	/*background: #f5f5f5;
	height: auto;
	width: 100%;*/
}

#content div.home {
	margin: 0 auto;
	overflow: hidden;
	padding: 30px 0;
	width: 960px;
}
#footer {
	
	width: 100%;
}
#footer div.home{
	
	height: 100px;
	padding: 0;
	width: auto;
}
#footer div.home div{
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	width: 960px;
}
#footer div.home div div.connect{
	margin-top: 10px;
	width: auto;
}
#footer div.home div div.connect span{
	color: #84284D;
	display: block;
	font-size: 18px;
	margin: 0 0 5px;
}
#footer div.home div div.connect ul{
	list-style: none;
	margin: 0 0 0 20px;
	padding: 0;
	width: 500px;
}
#footer div.home div div.connect ul li{
	float: left;
	padding: 5px 0;
	width: 200px;
}
#footer div.home div div.connect ul li a{
	color: #84284D;
	display: block;
	height: 22px;
	line-height: 18px;
	text-decoration: none;
	text-indent: 30px;
}
#footer div.home div div.connect ul li a.facebook{
	background: url(http://localhost/foodvn/public/image/sprite-icons.gif) no-repeat 0 -30px;
}
#footer div.home div div.connect ul li a.twitter{
	background: url(http://localhost/foodvn/public/image/sprite-icons.gif) no-repeat 0 -335px;
}



#content div div#account {
	color: #5F5D5E;
	margin: 60px auto 0;
	padding: 10px 0 0 ;
	width: 420px;
}

#content div div#account div {
	padding: 0 0 10px;
	width: auto;
}

#content div div#account div form {
	background: url(http://localhost/foodvn/public/image/bg-form.gif) repeat-y;
	margin: 0;
	padding-bottom: 15px;
}

#content div div#account div form input {
	color: #5F5D5E;
	margin: 0 0 0 10px;
}

#content div div#account div form span {
	color: #84284D;
	display: block;
	padding: 15px 10px 10px 15px;
}

#content div div#account div form input#username,
#content div div#account div form input#fullname,
#content div div#account div form input#dob,
#content div div#account div form input#regions,
#content div div#account div form input#email,
#content div div#account div form input#password,
#content div div#account div form input#password_2{
	border: 1px solid #e0e0e0;
	height: 25px;
	width: 310px;
}
#content div div#account div form input#rememberme {
	display: inline-block;
	vertical-align: sub;
}
#content div div#account div form table {
	margin-left: 10px;
}
#content div div#account div form table tr td {
	padding: 5px 0;
    text-align: right;
}

#content div div#account div form table tr td.rememberme {
	padding: 0;
	text-align: left;
}

#content div div#account div form table tr td label input#rememberme {
	vertical-align: sub;
}

#submitbtn
{
	background: url(http://localhost/foodvn/public/image/sprite-buttons.gif) no-repeat 0 -376px;
	color: #84284D;
	border: 0;
	height: 25px;
	font-size: 11px;
	margin-top: 10px;
	width: 90px;
	
}

#change_info
{
	border: dashed #EBF0F0;
	float: right;
	margin-top: 100px;
}

ul{
	list-style: none;
	margin-right: 50px;
	margin-top: 400px;
	overflow: hidden;
}
ul li{
	float: right;
	height: 50px;
	line-height: 50px;
	width: 150px;
}
ul li a{
	text-decoration: none;
	font-size: 16px;
	display: block;
}



/*slide anh*/

#slider-wrapper {
    background:url(http://localhost/foodvn/public/image/slider.png) no-repeat;
    width:998px;
    height:392px;
    margin:0 auto;
    padding-top:74px;
    margin-top:50px;
}

#slider {
	position:relative;
    width:618px;
    height:246px;
    margin-left:190px;
	background:url(hppt://localhost/foodvn/public/image/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:260px;
	bottom:-42px;
}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(http://localhost/foodvn/public/image/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(http://localhost/foodvn/public/image/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}
.clear {
	clear:both;
}


.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:89;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}


#result_upload{
	color: #FF2020;
}



#url_user{
	text-decoration: blink;
	color: #A26EA2;
	font-family: "Comic Sans MS";
}

#list_article{
	border: none;
	width: 250px;
	height: auto;
	text-align: center;
	position: relative;
	margin-left: 45px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.list_article_breakfast
	{
		float: left;
		background: url(http://localhost/foodvn/public/image/bg_breakfast.png); 
	}

.list_article_appetizer
{
	float: left;
	background: url(http://localhost/foodvn/public/image/bg_appetizer.png); 
}

.list_article_main
{
	float: left;
	background: url(http://localhost/foodvn/public/image/bg_main.png);
}

.list_article_dessert
{
	float: left;
	background: url(http://localhost/foodvn/public/image/bg_dessert.png);
}

.list_article_drink
{
	float: left;
	background: url(http://localhost/foodvn/public/image/bg_drink.png);
}

.list_article_cake
{
	float: left;
	background: url(http://localhost/foodvn/public/image/bg_cake.png);
}


#list_article a{
	text-decoration: none;
	outline: none;
	color: #9B5577;
}

#upload{
    float: left;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
}



#tb_profile_user{
	border: double;
	margin-left: 200px;
	margin-top: 100px;
	margin-bottom: 150px;
}
.search_res{
 	margin-left: 250px;
 	margin-top: 100px;
 }
#search_res_form{
	margin-bottom: 60px;
	
}

#search_restaurant_btn{
	background: url(http://localhost/foodvn/public/image/find.png) no-repeat 0 ;
	border: none;
	height: 42px;
	width: 45px;
}

#result_search{
	margin-top: 10px;
	margin-bottom: 50px;
	font-size: medium;
	color: #400040;
}

#recent_activity{
	width: 445px;
	height: 200px;
	overflow: auto;
	float: right;
	margin-top: 50px;
	margin-right: 40px;
	
}

#content b{
	color: #400040;
}
